In [ ]:
import Hello

In [1]:
Hello.hello()

NameError: name 'Hello' is not defined

In [2]:
import ex
ex.hello()

HelloWord

In [9]:
import warnings; warnings.simplefilter("ignore")

%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

#read workbook
events= pd.read_csv(r"/home/rauchdi/Desktop/cleaned_events1.csv")
events.head()

,id,timestamp,userType,userId,action,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1010,Unnamed: 1011,Unnamed: 1012,Unnamed: 1013,Unnamed: 1014,Unnamed: 1015,Unnamed: 1016,Unnamed: 1017,Unnamed: 1018,Unnamed: 1019
0,0,2019-01-06 18:59:29,teacher,-1,CHANGE_SLIDE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-06 19:01:00,teacher,-1,CHANGE_SLIDE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-06 19:01:52,teacher,-1,CHANGE_SLIDE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-01-06 19:01:53,teacher,-1,CHANGE_SLIDE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-01-06 19:01:53,teacher,-1,CHANGE_SLIDE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN